.container
{
    width:650px;

}
textarea
{
    width:450px;
    margin-left: 650px;
    margin-top:350px;
}
button
{
margin-left:1000px;
margin-top:15px;
background-color:cornflowerblue;
color:White;

}
count
{
margin-left:580px;
margin-top:10px;
}
.container1
{
    margin-left:800px;
    margin-top:15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}